#chartdiv {
  width: 100%;
  height: auto;
  min-height: 300px;
  background-color: #149fb9;
}

.amcharts-chart-div > a {
  display: none !important;
}

.container {
  width: 1024px;
  padding: 2em;
}

.bold-blue {
  font-weight: bold;
  color: #0277bd;
}
